<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
<!--
	 작성자 : alwaysFinn(김지호)
	 최초 작성일 : '23.01.06
	 마지막 업데이트 : '23.01.30
	 업데이트 내용 : 검색 기능 구현
	 기능 : 동아리 불러오기 기능 구현된 동아리 mapper로 DB와 연결됨
 --> 
<mapper namespace="com.youngtvjobs.ycc.club.clubMapper" >

	<sql id="selectFromClub">
		select *
		from club
	</sql>
	
	<!-- 모든 동아리 목록 가져오는 select문 -->
	<select id="selectAllClub" resultType="ClubDto">
		SELECT * from club
	</select>
	
	<!-- 로그인한 정보를 비교해 내가 가입한 모든 동아리 목록 가져오는 select문 -->
	<!-- 동아리 정보를 담은 club 테이블과 가입한 멤버 정보를 담은 club_member를 innerjoin -->
	<select id="selectMyClub" parameterType="String" resultType="ClubDto">
		SELECT * 
		FROM club AS cl
		INNER JOIN club_member AS clm
		ON cl.club_id = clm.club_id
		WHERE clm.user_id = #{user_id}
		OR cl.club_master_id = #{user_id}
	</select>
	
	<!-- 동아리 새로 생성하는 insert -->
	<insert id="createClub" parameterType="ClubDto">
		INSERT INTO club
		(club_title, club_create_time, club_info, club_master_id, club_master_nm, club_member)
		VALUES(#{club_title}, now(), #{club_info}, #{club_master_id}, #{club_master_nm}, 0)
	</insert>
	
	<!-- 유효성 체크 #1 이미 동아리 master인 유저가 또 동아리를 생성하는 것을 막기 위한 유효성 체크 -->
	<!-- 한 사람당 하나의 동아리만 만들 수 있게 하기 위한 validation check -->
	<select id="onlyOnceValChk" parameterType="ClubDto" resultType="int"> 
		select count(*)
		from club
		where club_master_id = #{club_master_id}
	</select>
	
	<select id="selectMasterMyClub" parameterType="String" resultType="ClubDto">
		<include refid="selectFromClub" />
		where club_master_id = #{club_master_id}
	</select>
	
	<select id="selectClubDetail" parameterType="int" resultType="ClubDto">
		<include refid="selectFromClub" />
		where club_id = #{club_id}	
	</select>
  
  	<!-- 해당 동아리의 멤버인지 아닌지 체크하는 sql문 -->
  	<select id="clubMemberYn" parameterType="ClubDto" resultType="int">
  		select count(*)
		from club_member
		where user_id = #{user_id}
		and club_id = #{club_id}
	</select>  
	
	<insert id="joinClub" parameterType="ClubDto">
		INSERT INTO club_member
		(club_join_date, user_id, user_name, club_id)
		VALUES(now(), #{user_id}, #{user_name}, #{club_id});
	</insert>
	
	<update id="clubMemberPlus" parameterType="map">
		UPDATE club
		SET club_member = club_member + 1
		WHERE club_id = #{club_id}
	</update>
	
	<select id="selectBoardFromClub" parameterType="int" resultType="ClubDto">
  		select *
		from club_board
		where club_id = #{club_id}
  	</select>

	<!--동아리 메인 페이지 검색 기능 -->  	
  	<sql id="searchClubCondition">
  		<choose>
  			<when test='option=="T"'>
  				AND club_title LIKE concat('%', #{keyword}, '%')
  			</when>
  			<when test='option=="CM"'>
  				AND club_master_nm LIKE concat('%', #{keyword}, '%')
  			</when>
  		</choose>
  	</sql>
  	
  	<select id="allClubSearchResultCnt" parameterType="SearchItem" resultType="int">
  		SELECT count(*) 
		FROM club
		WHERE true 
		<include refid="searchClubCondition" />
	</select>
	
	<select id="allClubSearchResultPage" parameterType="SearchItem" resultType="ClubDto">
		SELECT club_title, club_info, club_master_id, club_master_nm, club_create_time, club_id
		FROM club
		WHERE true 
		<include refid="searchClubCondition" />		
		order by club_create_time desc, club_id desc 
		limit #{pageSize} offset #{offset}
	</select>
  	
  	
  	<!-- 동아리 게시판 글쓰기 insert -->
  	<insert id="clubBoardWrite" parameterType="ClubDto">
  		INSERT INTO club_board
		(club_article_title, club_article_content, club_board_upload_time, club_article_viewcnt, club_id, user_id)
		VALUES(#{club_article_title}, #{club_article_content}, now(), 0, #{club_id}, #{user_id})
  	</insert>
  	
  	<!-- 동아리 게시판 수정하기 update -->
  	<update id="clubBoardEdit" parameterType="ClubDto">
  		UPDATE club_board
		SET club_article_title=#{club_article_title}, club_article_content=#{club_article_content}, club_board_upload_time=now(), club_id=#{club_id}, user_id=#{user_id}
		WHERE club_article_id=#{club_article_id}
		AND user_id=#{user_id}
  	</update>
  	
  	<!-- 동아리 상세 페이지 검색기능(게시물) -->
  	<sql id="searchClubBoardCondition">
  		<choose>
  			<when test='option=="BT"'>
  				AND club_article_title LIKE concat('%', #{keyword}, '%')
  			</when>
  			<when test='option=="BW"'>
  				AND user_id LIKE concat('%', #{keyword}, '%')
  			</when>
  			<otherwise>
  				AND (club_article_title LIKE concat('%', #{keyword}, '%')
  				OR club_article_content LIKE concat('%', #{keyword}, '%'))
  			</otherwise>
  		</choose>
  	</sql>
  	
  	<select id="clubBoardSearchResultCnt" parameterType="SearchItem" resultType="int">
  		SELECT count(*) 
		FROM club_board
		WHERE true 
		<include refid="searchClubBoardCondition" />
	</select>
  	
  	<select id="clubBoardSearchPage" parameterType="SearchItem" resultType="ClubDto">
		SELECT club_article_id, club_article_title, club_article_content, club_board_upload_time, club_article_viewcnt, club_id, user_id
		FROM club_board
		WHERE true 
		<include refid="searchClubBoardCondition" />		
		order by club_board_upload_time desc, club_article_id desc 
		limit #{pageSize} offset #{offset}		
	</select>
  	
	
</mapper>